.hosting-report-section-header {
  background-size: 20px !important;
  background-position-y: center !important;
  background-position-x: 3px !important;
  background-repeat: no-repeat !important;
  padding-left: 1.5em;
  font-size: large;
}

.hosting-report-views div {
  background-position-y: center;
  background-position-x: 3px;
  background-repeat: no-repeat;
  float: left;
  width: 20px;
  z-index: 1;
}

.hosting-report-views div a {
  color: transparent;
}

.hosting-report-views div.tooltip {
  display: none;
  position: absolute;
  border: 1px solid;
  width: inherit;
  padding: 0px 4px;
  background-color: white;
  color: black;
  text-align: left;
}

.hosting-report-views span:hover div.tooltip,
.hosting-report-views a:hover div.tooltip {
  display:block;
}

.hosting-report-views .no-data {
  width: 100%;
  text-align: center;
}

.hosting-report-views .hosting-success,
.hosting-report-section-header.hosting-success {
  background-image: url(../images/icon-ok.png) !important;
}

.hosting-report-views .hosting-warning,
.hosting-report-section-header.hosting-warning {
  background-image: url(../images/icon-warning.png) !important;
}

.hosting-report-views .hosting-error,
.hosting-report-section-header.hosting-error {
  background-image: url(../images/icon-error.png) !important;
}

.hosting-report.hosting-button-enabled,
.hosting-report.hosting-button-disabled {
  padding: 1px 5px;
}

.hosting-report-views .hosting-actions {
  width: 15%;
}

.hosting-report-views .hosting-report-message {
  width: 60%;
  text-align: left;
}

.hosting-report-views i.fa-question-circle.no-message {
  color: #FF9201;
}

.hosting-report-views i.fa-question-circle,
.hosting-report-views i.fa-info-circle {
  color: #AAAAAA;
  opacity: 0.5;;
}

body.page-hosting-report-ignore div#overlay-content {
  min-height: 0;
}

form#hosting-report-ignore input.form-submit {
  margin: 5px;
}

.toggle-ignored-results {
  position: relative;
  top: -1.5em;
}

.ignored-results-control {
  text-align: right;
  height: 0;
}

table td.summary-inner-table {
  padding: 0;
  vertical-align: 0;
}

div#hosting-info.hosting-info-list {
  padding-top: 0;
}
